<header class="container-fluid bg-primary p-2">
  <div
    class="container d-flex flex-column flex-md-row justify-content-center gap-3 align-items-center p-2"
  >
    <!-- Headshot -->
    <div class="d-flex flex-column flex-sm-row justify-content-center gap-3">
      <img
        class="rounded-circle mx-auto"
        src="https://media.licdn.com/dms/image/D4E03AQFcWfAteji6zg/profile-displayphoto-shrink_800_800/0/1670441742901?e=1679529600&v=beta&t=1_UyurSHiCyxeDQ_2Bqb_SPN4O24-QRjUoGsVeL1pPE"
        alt=""
        height="auto"
        width="200px"
      />
      <!-- Name, Title, & Links -->
      <div class="d-flex flex-column justify-content-center">
        <h3 class="text-white">Brennan Davis</h3>
        <h4 class="" style="color: #bfbfbf">
          C# .Net Full-Stack Engineer &<br />Digital Marketing Professional
        </h4>
        <div class="mt-2 d-flex gap-2">
          <div
            class="d-flex align-items-center rounded-circle bg-dark"
            style="height: 40px; width: 40px"
          >
            <a
              href="https://github.com/brennan-davis"
              target="_blank"
              style="width: 100%"
              class="text-center"
            >
              <i class="fa-brands fa-github-alt fa-xl"></i>
            </a>
          </div>
          <div
            class="d-flex align-items-center rounded-circle bg-dark"
            style="height: 40px; width: 40px"
          >
            <a
              href="https://github.com/brennan-davis"
              target="_blank"
              style="width: 100%"
              class="text-center"
            >
              <i class="fa-brands fa-linkedin-in fa-xl"></i>
            </a>
          </div>
          <div
            class="d-flex align-items-center rounded-circle bg-dark"
            style="height: 40px; width: 40px"
          >
            <a
              href="https://github.com/brennan-davis"
              target="_blank"
              style="width: 100%"
              class="text-center"
            >
              <i class="fa-brands fa-hive fa-xl"></i>
            </a>
          </div>

          <div
            class="d-flex align-items-center rounded-circle bg-dark"
            style="height: 40px; width: 40px"
          >
            <a
              href="https://github.com/brennan-davis"
              target="_blank"
              style="width: 100%"
              class="text-center"
            >
              <i class="fa-brands fa-mastodon fa-xl"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact CTA -->
    <button
      class="btn ml-auto ms-md-auto fs-5 fw-bold"
      id="contactBtn"
      data-bs-toggle="modal"
      data-bs-target="#contactFormModal"
      style="border: #ffd87b 3px solid; color: #fff"
    >
      <i class="fa-sharp fa-solid fa-paper-plane"></i>&nbsp;&nbsp;Contact Me
    </button>
  </div>
</header>

<!-- Modal -->
<div
  class="modal modal-lg fade"
  id="contactFormModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="height: 100vh !important; padding: 1rem 0 !important"
>
  <div
    class="modal-dialog"
    role="document"
    style="height: 100%; margin: 0 auto !important"
  >
    <div class="modal-content" style="height: 100%">
      <div class="modal-header">
        <h5 class="modal-title">Davis Digital Marketing</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0.2rem">
        <iframe
          src="https://forms.monday.com/forms/embed/b2f2c78be9a34c8bf78e8d0aa4b08e8b?r=use1"
          width="100%"
          height="100%"
          style="border: 0; box-shadow: 5px 5px 56px 0px rgba(0, 0, 0, 0.25)"
        ></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
