<div class="container" role="main">
  <div class="container" role="main">
    <div class="row">
      <div class="col-md-8 d-flex flex-column align-items-center gap-3 mb-3">
        <div class="card text-white bg-primary mb-3" style="width: 100%">
          <h4 class="card-header">Executive Summary</h4>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="width: 100%">
          <h4 class="card-header">Entrepreneurial Endeavours</h4>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="width: 100%">
          <h4 class="card-header">Professional Experience</h4>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center gap-3">
        <div class="d-md-block text-center">
          <img
            src="assets/images/DavisDigital.png"
            alt=""
            style="height: auto; width: 70%; border-radius: 50%"
          />
        </div>
        <div class="card text-white bg-primary mb-3" style="width: 100%">
          <h4 class="card-header">Marketing Skills</h4>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="width: 100%">
          <h4 class="card-header">Technical Skills</h4>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
